/* Container that holds the logo slider */
.logo-container {
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Hide any content outside the container */
  background-color: rgba(0, 0, 0, 0.4);
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 30px;
}

/* Slider that holds all logos in a single row */
.logo-slider {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevent wrapping */
  overflow-x: hidden;
}

/* The logos inside the slider */
.logos {
  display: flex;
  animation: scroll 50s linear infinite; /* Continuous scroll animation */
}

.logo {
  height: 65px;
  margin-right: 75px;
  margin-left:75px;
  flex-shrink: 0;
}

/* Keyframes to animate the scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
