/* Container that holds the logo slider */
.logo-container {
  width: 100vw; /* Ensures the container spans the full viewport width */
  overflow: hidden; /* Hides any content that overflows outside the container */
  background-color: rgba(0, 0, 0, 0.4); /* Background color of the bar */
  padding-bottom: 50px;
  margin-top: 0; /* Margin to separate the logo bar from other content */
  margin-bottom: 30px;
}

/* Slider that holds all logos in a single row */
.logo-slider {
  display: flex;
  align-items: center;
  white-space: nowrap; /* Prevents the logos from wrapping to the next line */
  overflow-x: hidden; /* Prevent horizontal scroll bar */
}

/* Each logo inside the slider */
.logo {
  height: 65px; /* Ensure the logos are all the same height */
  margin-right: 100px; /* Space between logos for better spacing */
  flex-shrink: 0; /* Prevent logos from shrinking */
}